<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="two_axis_manipulator">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import two_axis_manipulator urdf file -->
    <xacro:include filename="$(find two_axis_manipulator_description)/urdf/two_axis_manipulator.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="two_axis_manipulator.ros2_control.xacro" />


    <xacro:two_axis_manipulator_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
